<h3> Your Parcel has the following properties: </h3>
<h4> Weight : <%=@weight%>cm</h4>
<h4> Height : <%=@height%>cm</h4>
<h4> Width : <%=@width%>cm</h4>
<h4> Length : <%=@length%>cm</h4>
<h3> The Volume is: <%=@vol%> cm cube</h3>
<h3> The Cost is: <%=@cost%> $</h3>
